<%- include('includes/head.ejs'); %>

<header>
    <%- include('includes/nav.ejs'); %>
</header>

<main>
    <h1 class="webError">Woops! You are offline, check your interwebs!</h1>
    <div class="imgWebError">
        <img src="connection-error.svg" alt="connection error">
    </div>
</main>
<%- include('includes/footer.ejs'); %>