/* INTRO  */

.intro {
    width: 100vw;
    height: 95%;
    position: relative;
}

.background {
    width: 100vw;
    height: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(25%, 1fr));
    justify-items: stretch;
    opacity: .2;
}

.movieBgWrap img {
    width: 100%;

}

.formWrap {
    position: absolute;
    top: calc(30% - 15vw);
    left: calc(50% - 35vw);
    width: 70vw;
    /* height: 10em; */
    z-index: 2;
}



.viewedMovies h4 {
    font-size: .7em;
}

.viewedMovies .movie {
    padding: .5rem;
}