/* INTRO  */

.intro {
    width: 100vw;
    /* height: 95%; */
    /* position: relative; */
    display: flex;
    justify-content: center;
}

.background {
    width: 100vw;
    height: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(25%, 1fr));
    justify-items: stretch;
    opacity: .2;
}

.movieBgWrap img {
    width: 100%;
    height: 100%;
    background: lightgray;
}

.formWrap {
    position: absolute;
    top: 30vh;
    width: min(60rem, 90%);
    z-index: 2;

}



.viewedMovies h4 {
    font-size: .7em;
}

.viewedMovies .movie {
    padding: .5rem;
}